[submodule "external/Halfbody-new-identity-encoder"]
	path = external/Halfbody-new-identity-encoder
	url = https://github.com/sunayana-moro/Halfbody-new-identity-encoder
[submodule "external/smirk"]
	path = external/smirk
	url = https://github.com/sunayana-moro/smirk
[submodule "external/L2CS-Net"]
	path = external/L2CS-Net
	url = https://github.com/sunayana-moro/L2CS-Net
[submodule "external/talking_face_preprocessing"]
	path = external/talking_face_preprocessing
	url = https://github.com/sunayana-moro/talking_face_preprocessing
